$encounters_width: 900px;
$encounters_height: 75vh;

$buttons_width: 40%;
$buttons_height: 30%;

$pictures_width: 60%;
$pictures_height: $encounters_height;

$description_width: $buttons_width;
$description_height: 70%;